# Tipos de datos
Cada variable va a tener un diferente tipo de dato según el valor que le asignes. Hasta ahora hemos visto tres tipos de datos:  
1. Entero: números sin punto decimal
2. Flotante: números con punto decimal
3. String: texto  
4. Booleano: True/False

Cada tipo de dato se puede manipular de diferentes formas. Una de las ventajas de Python es que no te tienes que preocuparte en diferenciar los enteros y flotantes en la mayoría de las aplicaciones.  

La función `type()` nos indica cuál es el tipo de dato de una variable:

In [ ]:
var1 = 138
var2 = 80.5
var3 = 'Hola, mundo'
var4 = True

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

No podemos sumar, por ejemplo, un entero y un string:

In [ ]:
print(var1 + var3)

Tampoco podemos sumar dos enteros de tipo string ya que sumar dos strings sólo nos da un string concatenado de ambas strings sumadas:

In [ ]:
string_entero1 = "345"
string_entero2 = "400"
print(string_entero1 + string_entero2)

A veces podemos recibir información numérica en forma de string y la tenemos que convertir a entero o vice versa. Para eso están las funciones:
1. `int()` para convertir de un tipo a entero
2. `float()` para convertir de un tipo a flotante
3. `str()` para convertir de un tipo a string  

Ejemplo:

In [ ]:
entero = 340
entero_a_float = float(entero)
entero_a_string = str(entero)
print("Conversiones de entero a otros tipos:")
print(entero)
print(entero_a_float)
print(entero_a_string)
print()

flotante = 356.89
float_a_entero = int(flotante)
float_a_string = str(flotante)
print("Conversiones de float a otros tipos:")
print(flotante)
print(float_a_entero)
print(float_a_string)
print()

string = "435"
str_a_entero = int(string)
str_a_float = float(string)
print("Conversiones de string a otros tipos:")
print(string)
print(str_a_entero)
print(str_a_float)
print()